venv/
.venv/
env/
bin/
lib/
include/

__pycache__/
*.pyc
*.pyo
*.pyd

build/
dist/
*.egg-info/
.eggs/

.env
.flaskenv

*.log

# PyCharm
.idea/
# VS Code
.vscode/
.DS_Store
backtesting_analysis/
output/