# --- 环境相关 ---
# 虚拟环境文件夹（最重要！）
venv/
.venv/
env/
bin/
lib/
include/

# --- 缓存与编译文件 ---
# Python 编译的字节码
__pycache__/
*.pyc
*.pyo
*.pyd

# --- 打包与分发 ---
# 执行 build 或 setup.py 产生的文件
build/
dist/
*.egg-info/
.eggs/

# --- 隐私与配置 ---
# 环境变量文件（存放 API Key, 数据库密码等）
.env
.flaskenv

# --- 日志文件 ---
*.log

# --- 编辑器/IDE 相关 ---
# PyCharm
.idea/
# VS Code
.vscode/
# macOS 系统生成的临时文件
.DS_Store
*.json